body {
  background: url("../img/clouds.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#submit {
  margin: 0px 0px 0px 15px;
}
#current-location {
  margin: 0px 0px 0px 10px;
}

#city-search-input {
  border-radius: 6px;
}
.card {
  margin-top: 60px;
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
}
.card-body {
  background-color: rgb(20, 32, 51);
}

.card-title {
  font-size: 40px;
}
.image {
  font-size: 45px;
}

.col {
  font-size: 20px;
}
.header {
  margin-bottom: 20px;
}
.temp {
  font-size: 14px;
  margin-top: -25px;
}
.sunset {
  margin-right: 5px;
}
.sunrise {
  margin-right: 5px;
}
.sidepiece {
  font-size: 18px;
}
.weather {
  border-style: solid;
  border-image: linear-gradient(
      180deg,
      #dedede00 0,
      #dedede 25%,
      #dedede 70%,
      #dedede00 85%,
      #dedede00
    )
    1 100%;
}
